/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

* {    box-sizing: border-box;
  margin: 0;
  padding: 0;}

body{
    background-color: #eae2b7 ; 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;   
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;

  }

nav {  display: ;
      text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

a:visited {
  color: #10da43;}
a:hover {
  color: #f77f00;}
a:active {
  color: #b10eec;}
a:link   {  
  color: #d62828;}

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

.image-circle  {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #003049;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}
 

/* Set the font family for any h1, h2, or h3 heading */
h1  {  text-align: center;
  font-family: "Playfair Display", Times, serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #003049}


h2 {  text-align: center;
  font-family: "Playfair Display", Times, serif;
  font-size: 20px;
  margin-bottom: 20px;}

h3 {  text-align: center;
    font-family: "Playfair Display", Times, serif;
    font-size: 15px;
    margin-bottom: 10px;
    color: #003049}

article {
  padding: 10px 0;
  text-align: left;

  img {
    width: 100%;
    max-width: 200px;
    height: 100%
    display: block;
    margin: 0 auto;
  }
  
  
}



article div {
  text-align: center;
  width: 100%;
  margin-top: 10px;  
  margin-bottom: 10px;

}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}



hr {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  
}

footer {  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px}
/* Add your solution below */


